*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #424E61;
    color: white(245, 245, 245);
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 5px 0;
}
.cabecalho-alura{
    width: 10%;
}
.cabecalho-imagem{
     width: 10%;
    
    
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}
